@{
    ViewData["Title"] = "Home Page";
}
<!Doctype html>
<html>

<head>
    <title>
        @ViewData["Title"]
    </title>
    <style>
        body{
           font-family: script , sans-serif;*/ 
            background: #ffffcc ;
            color: white; 
            margin: 0;
            padding: 0;

        }

        .container{
            max-width: 960px ;
            padding: 20 px ;
            margin: 0 auto;
            text-align: center;
        }

        h1{
            font-family: cursive;
            
            color: black;
        }

        p{
            font-size: 1.2 rem ;
            color:black ;
            
            padding-top:20; 
        }

        a{
            color:blue ;
        }

        a:hover{
            color: darkblue ;        
        }
    </style>
</head>
<body>
    <div class="text-center">
    <h1 class="display-2 " ><i><u>Welcome</u></i></h1>
    </div>
    <div class ="text-center">
    <p>The Online Platform Where All Your Interests Meet.<br /> A One Stop Solution where you will Find Your Imagination Fueled</a>.</p>
</div>

</body>
</html>

