@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<style>
    .privacy-policy-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .privacy-policy-header {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .privacy-policy-section {
        margin-bottom: 20px;
    }

        .privacy-policy-section h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .privacy-policy-section p {
            line-height: 1.6;
        }
</style>


<div class="privacy-policy-container">
    <h1 class="privacy-policy-header">@ViewData["Title"]</h1>

    <div class="privacy-policy-section">
        <h2>Copyright</h2>
        <p> Donec lobortis sapien ut rutrum ultricies. Donec a mauris dictum, fermentum leo vel, pharetra velit. Sed mattis fermentum tortor nec sollicitudin.</p>
    </div>

    <div class="privacy-policy-section">
        <h2>How We Use Your Information</h2>
        <p> Praesent sodales lectus sapien. Vivamus diam felis, fringilla a justo non, feugiat volutpat ligula. Ut ultrices mi neque, vitae varius nibh ornare id. Vestibulum eu turpis euismod, aliquam est sed, sollicitudin neque. Mauris imperdiet metus a suscipit blandit.</p>
    </div>

    <div class="privacy-policy-section">
        <h2>Information Sharing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin tellus in faucibus congue.</p>
    </div>
        <div class="privacy-policy-section">
        <h2>Access to Books</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin tellus in faucibus congue.</p>
    </div>

    <div class="privacy-policy-section">
        <h2>Security</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin tellus in faucibus congue.Donec lobortis sapien ut rutrum ultricies. Donec a mauris dictum</p>
    </div>

    <div class="privacy-policy-section">
        <h2>Changes to This Policy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin tellus in faucibus congue.Donec lobortis sapien ut rutrum ultricies.</p>
    </div>
</div>
